body{
    overflow: hidden;
    width:100%;
    height:100vh;
    background-color: rgb(255, 0, 106);
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa{
    background-color: rgb(209, 35, 96);
    width: 80%;
    height: 80%;
    border:1px solid rgb(99, 4, 33); 
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.caixa1{
    width: 400px;
    height: 400px;
    border: 1px solid rgb(0, 0, 0);
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

img{
    width: 400px;
    height: 400px;
    border:1px solid black;
    border-radius: 10px;

}

.teste{
    
}